header {
  margin: -10px -10px 10px -10px;
  padding: 5px;
  background-color: #eaeaea;
  box-sizing: border-box;
  border: #000000 1px;
}
.logo img {
  height: 70px;
  width: 400px;
  position: absolute;
  right: 0.25%;
  top: 0.25%;
}

.entrance-pic img {
  height: 350px;
  width: auto;
  border-style: groove;
  border-width: 4px;
  border-color: #000000;
  display: block;
  left: 40%;
  position: relative;
  padding: 0.5px;
  top: 135px;
}
body {
  color: #dfdfdf;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline #ff3028;
  font-family: "helvetica-neue-97-black-condensed-oblique";
  font-size: 25px;
  text-transform: none;
  color: #f32951;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 600px;
  left: 43.8%;
}

.social-icons {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px;
  line-height: 0;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
}
